@model IEnumerable<SimpleWebApp.Core.Entities.Post>

@{
    ViewBag.Title = "Post Management";
}

<h2>Post Management</h2>
<a asp-action="add">Add New Post</a>
<div>
    <table>
        <thead>
            <td>Id</td>
            <td>Title</td>
            <td>User Id</td>
            <td>Options</td>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.UserId</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <label> | </label>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>